*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* Start of header */
.header{
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(/image/background\ 1.jpg);
   

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 
   height: 600px;
   width: 100%;
}
.header .section{
    margin-top: 80px;
}
 .header .section h1{
    font-size: 100px;
 }
 .header .section p{
    font-size: 20px;
 }
 /* End of code header */


 /* Start restrunt */

   .restrunt{
      padding-top: 100px;
   } 

 /* End restrunt */

 .menu{
   width: 100%;
   margin-top: 20%;
 }
 .menu .ii{
   margin-top: 10%;
 }
 
 /* Start a menu */


.card {
   border: none;
   background-color: #f8f9fa;
}
.card-title {
   font-size: 1.25rem;
   font-weight: bold;
}
.card-text {
   color: #6c757d;
}
.price {
   color: #ff7f00;
   font-size: 1.5rem;
   font-weight: bold;
}
.card-img-top {
   height: 200px;
   object-fit: cover;
}


 /* End a menu */

 /* Start of testomonial */

 .testmonnial{
            
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
 }


.image-container {
            position: relative;
            width: 300px; 
            height: 200px; 
            overflow: hidden;
        }

        .image-container img {
            position: absolute;
            width: 100%;
            height: 100%;
            animation: fade 4s infinite; 
        }

        @keyframes fade {
            0% {
                opacity: 1;
            }
            25% {
                opacity: 0;
            }
            30% {
                opacity: 0;
            }
            55% {
                opacity: 0;
            }
            60% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .image-container img:nth-child(2) {
            animation-delay: 2s;
        }
 
 /* end of testomonial */

 /* Start of footer */
 
 .footer{
   font-family: Arial, sans-serif;
 }

 .footer-section {
   padding: 40px 0;
}
.footer-section h5 {
   font-weight: bold;
}
.footer-section p, .footer-section a {
   color: #6c757d;
}
.footer-section a:hover {
   color: #ff6600;
}
.footer-section .social-icons a {
   color: #ff6600;
   margin-right: 10px;
}
.footer-section .social-icons a:hover {
   color: #000;
}
.subscribe-section {
   text-align: center;
   margin-bottom: 40px;
}
.subscribe-section h5 {
   font-weight: bold;
}
.subscribe-section p {
   color: #6c757d;
}
.subscribe-section .btn {
   background-color: #ff6600;
   color: #fff;
}
.subscribe-section .btn:hover {
   background-color: #e65c00;
}
 /* End of Footer */